DEBUG=True
SECRET_KEY=change-me-for-local-dev
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Smart Campus <no-reply@smartcampus.local>

TRACKING_SHARED_API_KEY=
TRACKING_ONLINE_WINDOW_SECONDS=75
TRACKING_OFFLINE_WINDOW_SECONDS=240
TRACKING_SNAPSHOT_INTERVAL_SECONDS=60

DB_CONN_MAX_AGE=600
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
